.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: var(--family);
  font-weight: var(--weight-normal);
  color: var(--white);
  background-color: var(--background-color);
}
