.lead__subtitle {
  margin: 0 auto;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 1.25;
  max-width: 288px;
}

@media (min-width: 768px) {
  .lead__subtitle {
    padding-bottom: 56px;
    font-size: 30px;
    line-height: 1.2;
    max-width: 640px;
  }
}

@media (min-width: 1280px) {
  .lead__subtitle {
    padding-bottom: 64px;
  }
}
