.cover__title {
  max-width: 560px;
  font-size: 32px;
  font-weight: var(--weight-black);
  line-height: 1.09;
  text-align: center;
  margin: 0 0 32px;
  z-index: 1;
}

@media (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 1.09;
  }
}
