.cover__title {
  max-width: 250px;
  font-size: 32px;
  font-weight: var(--weight-black);
  line-height: 1.09;
  text-align: center;
  margin: 0 0 16px;
  z-index: 1;
}

@media (min-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    margin: 112px 0 30px;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .cover__title {
    margin: 175px 0 30px;
  }
}

@media (min-width: 1024px) {
  .cover__title {
    margin: 193px 0 30px;
  }
}


@media (min-width: 1280px) {
  .cover__title {
    margin: 242px 0 30px;
  }
}
