.place__url-heading {
  margin: 0;
  color: #aaaaaa;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2.4px;
  padding-bottom: 12px;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .place__url-heading {
    padding-bottom: 8px;
  }
}
